html {
    background-color: #78C0A8;
}

body {
    background-color: #78C0A8;
}

#main {
    width: 65%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: #FCEBB6;
}

button {
    margin-left: 2%;
}

.participant {
    border: solid 1px #5E412F;
    background-color: #F0A830;
    padding: 4px;

    margin: 0 4px 0 4px;
    vertical-align: middle;
    font-size: 15pt;
}

.part_row {
    clear: both;
    vertical-align: middle;
    margin: 8px 0 8px 0;
}

#name_entry {
    vertical-align: middle;
}
