@(participants: Seq[Participant], payments: Seq[Payment])

@main("Even Up!") {
<div id="main">
    <h1>Even Up!!!</h1>

    <ul>
        @payments.map { payment => <li>@payment.from.name pays @payment.to.name  $@payment.amount </li>}
    </ul>

    <div id="participants">
        @participants.map { participant =>
            <div class="part_row">
                <div class="participant">@participant.name spent $@participant.expenses.map(expense => expense.amount).sum</div>
                <ul>
                    @participant.expenses.map { expense =>
                      <li>$@expense.amount for @expense.description</li>
                    }
                </ul>
            </div>
        }
    </div>

</div>
}


