@import models.Participant

@(participants: Seq[Participant], expenses: Map[Participant, Expense])

@main("Add Expenses") {
<h2 xmlns="http://www.w3.org/1999/html">Expenses</h2>

    <ul>
        <!-- Iterate over existing Expenses by Participant -->
    </ul>

    <form method="post" action="/expenses">
        <!-- TODO auto-highlight the default value -->
        <input name="amount" type="number" autofocus="true" value="0.00"
               step=".01" min="0.00"/>
        <input name="description"/>
        <select name="participant_name">
            @participants.map { p =>
                <option>@p.name</option>
            }
        </select>
        <br>
        <button type="submit">Add Expense</button>
    </form>
}
