@import models.Participant
@(participants: Seq[Participant], form: Form[Participant])

@main("Add Participants") {

  <div id="main">

  <h1>Participants</h1>
  <ul>
     @participants.map { p =>
        <li>@p.name</li>
      }
  </ul>

  @helper.form(action = routes.Participants.addParticipant) {
      <!--@helper.inputText(form("name"))-->
      @*<div>*@
          @*<input id="was_name_entry" name="name"/>*@
          @*<span class="button" id="was_add_participant">+</span>*@
      @*</div>*@
      <br>
      @*<button type="submit">Add Participant</button>*@
  }

  <div id="participant_entry">
      <input type="text" id="name_entry" autofocus="true">
      @*<span class="spaced"/>*@
      <button id="add_participant">+</button>
  </div>

  <div id="participants"></div>

  </div>
}
