@import models.Participant
@(participants: Seq[Participant], form: Form[Participant])

@main("Add Participants") {

  <h2>Participants</h2>
  <ul>
     @participants.map { p =>
        <li>@p.name</li>
      }
  </ul>

  @helper.form(action = routes.Participants.addParticipant) {
      <!--@helper.inputText(form("name"))-->
      <div>
          <input id="name_entry" name="name" autofocus="true"/>
          <span class="button" id="add_participant">+</span>
      </div>
      <br>
      <button type="submit">Add Participant</button>
  }

  @helper.form(action = routes.Expenses.index) {
      <button type="submit">Enter Expenses</button>
  }

  <div id="participants">

  </div>
}
